@model PhoneBook.UI.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<h1 class="title">Edit Contact</h1>
<hr />
<div class="container">
    <div class="columns is-left">
        <div class="column is-5-tablet is-4-desktop is-3-widespread">
         <form asp-action="Edit" class="box">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="field">
                <label asp-for="FirstName" class="label"></label>
                <input asp-for="FirstName" class="control" />
                <span asp-validation-for="FirstName" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Lastname" class="label"></label>
                <input asp-for="Lastname" class="control" />
                <span asp-validation-for="Lastname" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="PhoneNumber" class="label"></label>
                <input asp-for="PhoneNumber" class="control" />
                <span asp-validation-for="PhoneNumber" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="PhoneNumberType" class="label"></label>
                <div class="select">
                <select asp-for="PhoneNumberType" asp-items="@Html.GetEnumSelectList<PhoneNumberType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                </div>                
                <span asp-validation-for="PhoneNumberType" class="help is-danger"></span>
            </div>
            <div class="field">
                <input type="submit" value="Edit" class="button is-primary" />
            </div>
        </form>
        </div>        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
