@model PhoneBook.UI.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widespread">
            <form class="box" asp-action="Login" asp-controller="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="help is-danger"></div>
            <div class="field">
                <label asp-for="EmailAddress" class="label"></label>
                <div class="control has-icons-left has-icons-right">
                    <input asp-for="EmailAddress" class="input" value="mark@24.com"/>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                </div>                
                <span asp-validation-for="EmailAddress" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Password" class="label"></label>
                <input asp-for="Password" class="input" value="covid19" />
                <span asp-validation-for="Password" class="help is-danger"></span>
            </div>
            <div class="field">
                <div class="control">
                    <label asp-for="RememberMe" class="checkbox">
                        <input asp-for="RememberMe" type="checkbox"/>
                        Remember Me
                    </label>
                </div>                                
                <span asp-validation-for="RememberMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="button is-link is-primary" />
            </div>
        </form>
        </div>
    </div>
</div>

        
    

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
