<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhoneBook</title>    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="border fixed-bottom split-nav">
            <div class="nav-brand">
                <h3><a href="#">PhoneBook</a></h3>
            </div>            
            <div class="collapsible">
                <input id="collapsible1" type="checkbox" name="collapsible1">
                <button>
                    <label for="collapsible1">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </label>
                </button>
                <div class="collapsible-body">
                    <ul class="inline">                       
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a asp-area="" asp-controller="User" asp-action="Index">Users</a>
                            </li>
                            <li >
                                '@User.Identity.Name'
                            </li>
                            <li >
                                <a asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="inline">
                                <a asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container paper">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PhoneBook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
