@model PhoneBook.UI.Models.TelephoneNumber

@{
    ViewData["Title"] = "Edit";
}

<h1 class="title">Editing Telephone Number for DASDSA</h1>

<hr />
<div class="container">
    <div class="col-md-4">
        <div class="column is-5-tablet is-4-desktop is-3-widespread">            
            <form asp-action="Edit" class="box">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.ContactId)
            <div asp-validation-summary="ModelOnly" class="help is-danger"></div>
            <div class="field">
                <label asp-for="NumberType" class="label"></label>
                <select asp-for="NumberType" asp-items="@Html.GetEnumSelectList<PhoneNumberType>()" class="select">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="NumberType" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Number" class="label"></label>
                <input asp-for="Number" class="control" />
                <span asp-validation-for="Number" class="help is-danger"></span>
            </div>

            <div class="field">
                <input type="submit" value="Save" class="button is-primary" />
            </div>
        </form>
        </div>        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
