@model PhoneBook.UI.Models.UserModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserModel</h4>
<hr />
<div class="container">
    <div class="columns is-left">
        <div class="column is-5-tablet is-4-desktop is-3-widespread">            
            <form class="box" asp-action="Create" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="help is-danger"></div>
            <div class="field">
                <label asp-for="FirstName" class="label"></label>
                <input asp-for="FirstName" class="control" />
                <span asp-validation-for="FirstName" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Surname" class="label"></label>
                <input asp-for="Surname" class="control" />
                <span asp-validation-for="Surname" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="EmailAddress" class="label"></label>
                <input asp-for="EmailAddress" class="control" />
                <span asp-validation-for="EmailAddress" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Password" class="label"></label>
                <input asp-for="Password" class="control" />
                <span asp-validation-for="Password" class="help is-danger"></span>
            </div>

            <div class="field">
                <label asp-for="RetypedPassword" class="label"></label>
                <input asp-for="RetypedPassword" class="control" />
                <span asp-validation-for="RetypedPassword" class="help is-ndagner"></span>
            </div>   
            <div class="field">
                <input type="submit" value="Create" class="button is-primary" />
            </div>
        </form>
        </div>        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
