@model PhoneBook.UI.Models.UserModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="title">Editing user @Model.EmailAddress</h1>
<hr />
<div class="container">
    <div class="columns is-left">
        <div class="column is-5-tablet is-4-desktop is-3-widespread">            
            <form class="box" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="help is-danger"></div>
            <div class="field">
                <label asp-for="FirstName" class="label"></label>
                <input asp-for="FirstName" class="control" />
                <span asp-validation-for="FirstName" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Surname" class="label"></label>
                <input asp-for="Surname" class="control" />
                <span asp-validation-for="Surname" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="EmailAddress" class="label"></label>
                <input asp-for="EmailAddress" class="control" />
                <span asp-validation-for="EmailAddress" class="help is-danger"></span>
            </div>                    
            <div class="field">
                <input type="submit" value="Save" class="button is-primary" />
            </div>
        </form>
        </div>        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
